.navbar {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: #ffffff;
}

.btn-custom {
    background-color: #000000;
    color: #fff;
}

.icon {
    font-size: 25px;
    color: #ffffff;
    margin-left: 84%;
}